<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AA103G4</display-name>
  <!-- 入口頁設定 -->
  <welcome-file-list>
    <welcome-file>Front-End/index.jsp</welcome-file>
  </welcome-file-list>

  <!-- 資料庫設定 -->
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/DevDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <!-- 錯誤頁轉導設定 -->
<!--   <error-page> -->
<!--     <error-code> 404 </error-code> -->
<!--     <location>/ErrorPage/404err.jsp</location> -->
<!--   </error-page> -->


  <servlet>
    <servlet-name>S_gro_infoServlet</servlet-name>
    <servlet-class>com.s_gro_info.controller.S_gro_infoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_gro_infoServlet</servlet-name>
    <url-pattern>/s_gro_info/s_gro_info.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_gro_csServlet</servlet-name>
    <servlet-class>com.s_gro_cs.controller.S_gro_csServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_gro_csServlet</servlet-name>
    <url-pattern>/s_gro_cs/s_gro_cs.do</url-pattern>
  </servlet-mapping>
  
  <!-- Filter設定開始 -->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.login.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/Front-End/Cart/cart</url-pattern>
    <url-pattern>/Front-End/s_gro/HomePageforClub.jsp</url-pattern>
<!--     <url-pattern>/Front-End/event-info/join</url-pattern> -->
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
  <filter>
    <filter-name>EmpLoginFilter</filter-name>
    <filter-class>com.emplogin.filter.EmpLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EmpLoginFilter</filter-name>
    <url-pattern>/Back-End/index.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <!-- Filter設定結束 -->
  
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.employee.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/emp/EmployeeServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CMReader</servlet-name>
    <servlet-class>com.cm.model.DBGifReader3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CMReader</servlet-name>
    <url-pattern>/cm/CMReader.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InformationServlet</servlet-name>
    <servlet-class>com.info.controller.InformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationServlet</servlet-name>
    <url-pattern>/Back-End/info/info.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CmServlet</servlet-name>
    <servlet-class>com.cm.controller.CmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CmServlet</servlet-name>
    <url-pattern>/Back-End/cm/cm.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CaServlet</servlet-name>
    <servlet-class>com.ca.controller.CaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaServlet</servlet-name>
    <url-pattern>/Back-End/ca/ca.do</url-pattern>
  </servlet-mapping>
  
  <servlet>   
    <servlet-name>CouponServlet</servlet-name>
    <servlet-class>com.cou.controller.CouponServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouponServlet</servlet-name>
    <url-pattern>/Back-End/cou/cou.do</url-pattern>
  </servlet-mapping>
  
  <servlet>  
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>com.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/member/MemServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/Front-End/member/resetPW.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.book.controller.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/Back-End/book/book.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/Front-End/book/book.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/Front-End/book/bookpage/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BooktypeServlet</servlet-name>
    <servlet-class>com.booktype.controller.BooktypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooktypeServlet</servlet-name>
    <url-pattern>/Back-End/booktype/booktype.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyServlet</servlet-name>
    <servlet-class>com.company.controller.CompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyServlet</servlet-name>
    <url-pattern>/Back-End/company/company.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TrackServlet</servlet-name>
    <servlet-class>com.track.controller.TrackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackServlet</servlet-name>
    <url-pattern>/Front-End/Track.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackServlet</servlet-name>
    <url-pattern>/Back-End/Track.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrackServlet</servlet-name>
    <url-pattern>/Back-End/track/track.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CommServlet</servlet-name>
    <servlet-class>com.comm.controller.CommServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommServlet</servlet-name>
    <url-pattern>/Back-End/comm/comm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PdServlet</servlet-name>
    <servlet-class>com.pd.controller.PdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdServlet</servlet-name>
    <url-pattern>/Back-End/pd/pd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PmServlet</servlet-name>
    <servlet-class>com.pm.controller.PmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PmServlet</servlet-name>
    <url-pattern>/Back-End/pm/pm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReaderPhoto</servlet-name>
    <servlet-class>util.ReaderPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderPhoto</servlet-name>
    <url-pattern>/member/ReaderPhoto.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_bookServlet</servlet-name>
    <servlet-class>com.s_book.controller.S_bookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_bookServlet</servlet-name>
    <url-pattern>/s_book/s_book.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_gro_disServlet</servlet-name>
    <servlet-class>com.s_gro_dis.controller.S_gro_disServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_gro_disServlet</servlet-name>
    <url-pattern>/s_gro_dis/s_gro_dis.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_gro_memServlet</servlet-name>
    <servlet-class>com.s_gro_mem.controller.S_gro_memServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_gro_memServlet</servlet-name>
    <url-pattern>/s_gro_mem/s_gro_mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_book_detServlet</servlet-name>
    <servlet-class>com.s_book_det.controller.S_book_detServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_book_detServlet</servlet-name>
    <url-pattern>/s_book_det/s_book_det.do</url-pattern>
  </servlet-mapping>
</web-app>
