body {
    word-break: break-all!important;
}

code {
    white-space: pre-wrap;
}

#sidr-right {
    z-index: 999;
}

@media (max-width: 639px) {
    body {
        font-size: 18px;
    }
    .pc-view,
    .pc-inview {
        display: none!important;
    }
    .mobile-view {
        display: block!important;
    }
    .mobile-inview {
        display: inline-block!important;
    }
}

@media (min-width: 640px) {
    body {
        font-size: 18px;
    }
    .pc-view {
        display: block!important;
    }
    .pc-inview {
        display: inline-block!important;
    }
    .mobile-view,
    .mobile-inview {
        display: none!important;
    }
}

abbr {
    cursor: default;
    border-bottom-style: none!important;
}

#body-section {}

.timestamp {
    cursor: default!important;
}

.timestamp:hover {
    cursor: pointer!important;
}

.ml5 {
    margin-left: 5px!important;
}

.ml10 {
    margin-left: 10px!important;
}

.ml15 {
    margin-left: 15px!important;
}

.ml20 {
    margin-left: 20px!important;
}

.ml25 {
    margin-left: 25px!important;
}

.ml30 {
    margin-left: 30px!important;
}

.mr5 {
    margin-right: 5px!important;
}

.mr10 {
    margin-right: 10px!important;
}

.mr15 {
    margin-right: 15px!important;
}

.mr20 {
    margin-right: 20px!important;
}

.mr25 {
    margin-right: 25px!important;
}

.mr30 {
    margin-right: 30px!important;
}

.mt0 {
    margin-top: 0px!important;
}

.mt5 {
    margin-top: 5px!important;
}

.mt10 {
    margin-top: 10px!important;
}

.mt15 {
    margin-top: 15px!important;
}

.mt20 {
    margin-top: 20px!important;
}

.mt25 {
    margin-top: 25px!important;
}

.mt30 {
    margin-top: 30px!important;
}

.mb0 {
    margin-bottom: 0px!important;
}

.mb5 {
    margin-bottom: 5px!important;
}

.mb10 {
    margin-bottom: 10px!important;
}

.mb15 {
    margin-bottom: 15px!important;
}

.mb20 {
    margin-bottom: 20px!important;
}

.mb25 {
    margin-bottom: 25px!important;
}

.mb30 {
    margin-bottom: 30px!important;
}

.pl0 {
    padding-left: 0px!important;
}

.pl30 {
    padding-left: 30px!important;
}

.pr0 {
    padding-left: 0px!important;
}

.pr30 {
    padding-right: 30px!important;
}

.pb10 {
    padding-bottom: 10px!important;
}

.pb20 {
    padding-bottom: 20px!important;
}

.pb30 {
    padding-bottom: 30px!important;
}

@media (min-width: 640px) {
    .pc-mt20 {
        margin-top: 20px;
    }
}

.wp100 {
    width: 100%!important;
}

.wp50 {
    width: 50%!important;
}

.fs14 {
    font-size: 14px;
}

.fwB {
    font-weight: 800;
}

.fwN {
    font-weight: 400!important;
}

.fwBRed {
    font-weight: 800;
    color: #b72c1c!important;
}

.clickable {
    cursor: pointer;
}

.showCodeLink,
.moreReadLink {
    padding: 2px 10px;
    font-size: 85%;
    font-weight: 400!important;
    color: #34495e;
    background-color: #e5eaff;
    border-radius: 4px;
}

.hideCodeLink {
    padding: 2px 10px;
    font-size: 85%;
    font-weight: 400!important;
    color: #b72c1c;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.moreReadClickLink {
    padding: 2px 10px;
    font-size: 85%;
    font-weight: 400!important;
    color: #34495e;
    background-color: #e5eaff;
    border-radius: 4px;
}

.requiredLabel {
    padding: 6px 6px;
    font-size: 65%;
    color: #f9f2f4;
    background-color: #b72c1c;
    border-radius: 4px;
    margin-right: 10px;
    font-weight: 400;
    top: -2px;
    position: relative;
}

.requestStatusLabel {
    color: #f9e784;
    margin-left: 5px;
    display: inline!important;
}

#info-links .requestStatusLabel {
    color: #b72c1c;
}

.general-header:before,
.general-footer:before,
.general-header:after,
.general-footer:after {
    display: table;
    content: " ";
}

.general-header:after,
.general-footer:after {
    clear: both;
}

.general-header .left-text {
    float: left;
    text-align: left;
}

.general-header>.general-control {
    float: right;
    position: relative;
}

.no-through {
    opacity: 1!important;
}

.next-message-link {
    font-size: 14px;
}

.form-group .form-date {
    float: left;
    padding-left: 0px;
    padding-right: 5px;
}

.form-group .form-control-separate {
    float: left;
    padding: 6px 10px;
}

.eventCalendar[readonly] {
    background-color: #fff;
    border-color: #bdc3c7;
    color: #34495e;
    opacity: 1;
    filter: alpha(opacity=100);
}

.eventCalendar[readonly]:hover {
    border-color: #34495e;
    cursor: pointer;
}

.form-error {
    font-size: 15px;
    margin-left: 12px;
    color: #b72c1c;
}

.twitter-typeahead+.input-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    line-height: 37px;
    vertical-align: middle;
    font-size: 20px;
    color: #b2bcc5;
    background-color: #ffffff;
    padding: 0 12px 0 0;
    border-radius: 6px;
}

.select-user {
    margin-left: 10px;
    margin-bottom: 10px;
}

.select-user:before,
.select-user:after {
    display: table;
    content: " ";
}

.select-user:after,
.select-user:after {
    clear: both;
}

.select-user .user-image {
    float: left;
    margin-right: 5px;
    background-size: cover;
    background-position: center center;
    height: 40px;
    width: 40px;
    border-radius: 6px;
}

.select-user .user-text-name {
    float: left;
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    line-height: 40px;
}

.select-user .btn-link {
    float: left;
}

@media (max-width: 639px) {
    .select-user .user-text-name {
        font-size: 16px;
    }
}

.flat-checkbox:hover {
    cursor: pointer;
}

h1.sectionTitle {
    font-size: 21px;
}

h2.sectionTitle {
    font-size: 18px;
}

i {
    margin-right: 10px!important;
}

.messageActionArea,
#messageArea {
    background-color: #f1f1dc;
}

.messageActionArea:hover,
#messageArea:hover {
    cursor: pointer;
}

.alertBox,
.alertBox a {
    color: #b72c1c!important;
}

.alertBox:hover,
.alertBox a:hover {
    color: #f79c8c!important;
}

.infoBox p,
.alertBox p {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

footer .bottom-menu-large {
    padding-bottom: 40px;
}

#copyright {
    height: 50px;
}

.alert {
    color: #b72c1c;
    font-size: 15px;
    padding: 10px 30px 7px 20px;
    margin-top: 10px;
}

.note {
    font-size: 14px;
    margin-top: 5px;
    color: #7d8387
}

.input-url-head {
    line-height: 42px;
    float: left;
    margin-right: 10px;
}

.input-url-body {
    position: relative;
    float: left;
    min-width: 270px;
}

.staticLabel {
    display: inline-block;
}

.focusLabel {
    display: none;
}

.doFollow:hover {
    background-color: #15967d!important;
    border-color: #15967d!important;
}

.doFollow:hover .staticLabel {
    display: none;
}

.doFollow:hover .focusLabel {
    display: inline-block;
}

.doCancel:hover {
    background-color: #b72c1c!important;
    border-color: #b72c1c!important;
}

.doCancel:hover .staticLabel {
    display: none;
}

.doCancel:hover .focusLabel {
    display: inline-block;
}

.loading-indicator {
    height: 80px;
    width: 80px;
    background: url('../images/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

.loading-indicator-overlay {
    background-color: #FFFFFF;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#messageStatusArea {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 13px;
    color: #8899a6;
}

.readTime {
    font-size: 13px;
    color: #8899a6;
}

.readTime abbr {
    display: inline!important;
}

.label-secondary {
    background-color: #ff8c00;
    color: #ffffff;
}

.label-secondary[href] {
    color: #ffffff;
}

.label-secondary[href]:hover,
.label-secondary[href]:focus {
    color: #ffffff;
    background-color: #ffae22;
}

.label-tertiary {
    background-color: #15967d;
    color: #ffffff;
}

.label-tertiary[href] {
    color: #ffffff;
}

.label-tertiary[href]:hover,
.label-tertiary[href]:focus {
    color: #ffffff;
    background-color: #7bbd82;
}

.btn-secondary {
    color: #ffffff;
    background-color: #ff8c00;
}

.btn-secondary:hover,
.btn-secondary.hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
    color: #ffffff;
    background-color: #ffae22;
    border-color: #ffae22;
}

.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
    background: #ffae22;
    border-color: #ffae22;
}

.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled.hover,
.btn-secondary[disabled].hover,
fieldset[disabled] .btn-secondary.hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
    background-color: #ff8c00;
    border-color: #ff8c00;
}

.btn-secondary .badge {
    color: #ff8c00;
    background-color: #ffffff;
}

.btn-tertiary {
    color: #ffffff;
    background-color: #15967d;
}

.btn-tertiary:hover,
.btn-tertiary.hover,
.btn-tertiary:focus,
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
    color: #ffffff;
    background-color: #7bbd82;
    border-color: #7bbd82;
}

.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
    background: #7bbd82;
    border-color: #7bbd82;
}

.btn-tertiary.disabled,
.btn-tertiary[disabled],
fieldset[disabled] .btn-tertiary,
.btn-tertiary.disabled:hover,
.btn-tertiary[disabled]:hover,
fieldset[disabled] .btn-tertiary:hover,
.btn-tertiary.disabled.hover,
.btn-tertiary[disabled].hover,
fieldset[disabled] .btn-tertiary.hover,
.btn-tertiary.disabled:focus,
.btn-tertiary[disabled]:focus,
fieldset[disabled] .btn-tertiary:focus,
.btn-tertiary.disabled:active,
.btn-tertiary[disabled]:active,
fieldset[disabled] .btn-tertiary:active,
.btn-tertiary.disabled.active,
.btn-tertiary[disabled].active,
fieldset[disabled] .btn-tertiary.active {
    background-color: #15967d;
    border-color: #15967d;
}

.btn-tertiary .badge {
    color: #15967d;
    background-color: #ffffff;
}

.form-group label {
    font-weight: 800;
}

.action-lg-btn {
    padding-left: 30px;
    padding-right: 30px;
}

.actionArea .btn {
    margin-right: 5px;
    margin-bottom: 5px;
}

.navbar-fixed-top {
    left: auto;
    right: auto;
    width: 100%;
}

.sidr {
    display: none;
    position: absolute;
    top: 0;
    width: 260px;
    min-height: 100%;
    overflow-x: none;
    overflow-y: none;
    background-color: #34495e;
}

.sidr.right {
    left: auto;
    right: -260px
}

.sidr>ul {
    padding: 0px;
    color: #fff;
    font-size: 18px;
    list-style-type: none;
}

.sidr>ul>li {
    width: 260px;
    height: 50px;
}

.sidr>ul>li.side-menu-top {
    height: 60px;
    position: relative;
}

.sidr>ul>li>a {
    color: #fff;
}

.sidr>ul>li>a>span {
    display: inline-block;
    width: 260px;
    padding: 10px;
}

.sidr>ul>li>a:hover>span {
    background-color: #899eaf;
}

.sidr>ul>li.side-menu-top>a>span {
    padding: 0px;
}

.sidr>ul>li.side-menu-top>a>span .user-image {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    height: 40px;
    width: 40px;
    border-radius: 6px;
}

.sidr>ul>li.side-menu-top>a>span .user-name {
    display: inline-block;
    margin-left: 45px;
    padding: 15px;
}

.sidr>ul>li>a>span .badge {
    line-height: 24px;
    font-size: 18px;
    margin: 3px;
    color: #34495e;
}

.sidr>ul>li>a:hover>span .badge {
    color: #899eaf;
}

.navbar-brand img.logo {
    margin-right: 3px;
    height: 25px;
}

.navbar-brand img.symbol {
    position: relative;
    top: -2px;
    height: 25px;
}

@media (max-width: 639px) {
    .navbar-brand img.logo {
        height: 23px;
    }
    .navbar-brand img.symbol {
        height: 23px;
    }
}

#notify-menu .dropdown-menu,
#message-menu .dropdown-menu {
    padding: 0px;
    width: 300px;
}

#notify-menu .dropdown-menu>li>a,
#message-menu .dropdown-menu>li>a {
    padding: 0px;
    white-space: normal;
    display: block;
}

#notify-menu .dropdown-menu>li>a>span,
#message-menu .dropdown-menu>li>a>span {
    background-color: #34495e;
    border-bottom: dotted 1px #e6e7e8;
    padding: 10px;
    margin: 0px;
    display: block;
}

#notify-menu .dropdown-menu>li>a.noDetailOpen>span,
#message-menu .dropdown-menu>li>a.noDetailOpen>span {
    background-color: #64595e;
    border-bottom: dotted 1px #e6e7e8;
    padding: 10px;
    margin: 0px;
}

#notify-menu .dropdown-menu>li>a:hover>span,
#message-menu .dropdown-menu>li>a:hover>span {
    background-color: #899eaf;
}

#notify-menu .dropdown-menu>li:first-child>span,
#message-menu .dropdown-menu>li:first-child>span {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #e1e4e7;
    padding: 5px 10px;
    border-bottom: dotted 1px #e6e7e8;
    background-color: #34495e;
    font-weight: 900;
    display: block;
}

#notify-menu .dropdown-menu>li:last-child>a>span,
#message-menu .dropdown-menu>li:last-child>a>span {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: block;
}

#notify-menu .dropdown-menu>li>a>span .info-link-user,
#message-menu .dropdown-menu>li>a>span .info-link-user {
    float: left;
    background-size: cover;
    background-position: center center;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    display: block;
}

#notify-menu .dropdown-menu>li>a>span .info-link-body,
#message-menu .dropdown-menu>li>a>span .info-link-body {
    float: left;
    text-align: left;
    margin-left: 10px;
    width: 220px;
    display: block;
}

#notify-menu .dropdown-menu>li>a>span .info-link-body span,
#message-menu .dropdown-menu>li>a>span .info-link-body span {
    display: block;
}

#notify-menu .dropdown-menu>li:last-child>a>span i,
#message-menu .dropdown-menu>li:last-child>a>span i {
    margin-left: 5px!important;
}

.headbar-right .dropdown-menu {
    right: 5px;
    left: auto;
}

@media (max-width: 639px) {
    #notify-menu .dropdown-menu {
        right: -135px;
        left: auto;
    }
    .headbar-right .mobile-left {
        right: auto;
        left: -60px;
    }
}

.headbar-nav {
    margin: 7.5px -15px;
}

.headbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.headbar-nav {
    float: left;
    margin: 0;
}

.headbar-nav>li {
    float: left;
}

.headbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.headbar-nav.navbar-right:last-child {
    margin-right: -15px;
}

.headbar-left {
    float: left!important;
}

.headbar-right {
    float: right!important;
}

.headbar-nav {
    margin: 0;
}

.headbar-nav>li>a {
    font-size: 16px;
    padding: 15px 12px;
    line-height: 23px;
    font-weight: 700;
}

.headbar-nav .dropdown-toggle .caret {
    border-top-color: #16a085;
    border-bottom-color: #16a085;
    border-width: 8px 6px 0;
    margin-left: 12px;
}

.headbar-nav>li>a:hover,
.headbar-nav>li>a:focus,
.headbar-nav .open>a:focus,
.headbar-nav .open>a:hover {
    background-color: transparent;
}

.headbar-nav>li>a:hover .caret,
.headbar-nav>li>a:focus .caret,
.headbar-nav .open>a:focus .caret,
.headbar-nav .open>a:hover .caret {
    border-top-color: #34495e;
    border-bottom-color: #34495e;
}

.headbar-nav [class^="fui-"] {
    line-height: 20px;
    position: relative;
    top: 1px;
}

.headbar-nav .visible-sm>[class^="fui-"],
.headbar-nav .visible-xs>[class^="fui-"] {
    margin-left: 12px;
}

.headbar-nav>li>.dropdown-menu {
    min-width: 100%;
    border-radius: 4px!important;
}

.headbar-nav>.open>.dropdown-toggle,
.headbar-nav>.open>.dropdown-toggle:focus,
.headbar-nav>.open>.dropdown-toggle:hover {
    background-color: transparent;
}

.navbar-inverse .headbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .headbar-nav>li>a:hover,
.navbar-inverse .headbar-nav>li>a:focus {
    color: #899eaf;
    background-color: transparent;
}

.navbar-inverse .headbar-nav>.active>a,
.navbar-inverse .headbar-nav>.active>a:hover,
.navbar-inverse .headbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #34495e;
}

.navbar-inverse .headbar-nav>.disabled>a,
.navbar-inverse .headbar-nav>.disabled>a:hover,
.navbar-inverse .headbar-nav>.disabled>a:focus {
    color: #444444;
    background-color: transparent;
}

.navbar-inverse .headbar-nav>.dropdown>a:hover .caret,
.navbar-inverse .headbar-nav>.dropdown>a:focus .caret {
    border-top-color: #34495e;
    border-bottom-color: #34495e;
}

.navbar-inverse .headbar-nav>.open>a,
.navbar-inverse .headbar-nav>.open>a:hover,
.navbar-inverse .headbar-nav>.open>a:focus {
    background-color: #34495e;
    color: #ffffff;
    border-left-color: transparent;
}

.navbar-inverse .headbar-nav>.open>a .caret,
.navbar-inverse .headbar-nav>.open>a:hover .caret,
.navbar-inverse .headbar-nav>.open>a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-inverse .headbar-nav>.dropdown>a .caret {
    border-top-color: #4b6075;
    border-bottom-color: #4b6075;
}

.navbar-inverse .headbar-nav>.open>.dropdown-arrow {
    border-top-color: #34495e;
    border-bottom-color: #34495e;
}

.navbar-inverse .headbar-nav>.open>.dropdown-menu {
    background-color: none;
    padding: 0px;
}

.navbar-inverse .headbar-nav>.open>.dropdown-menu>li>a {
    color: #e1e4e7;
    background-color: #34495e;
    padding: 6px 19px;
}

.navbar-inverse .headbar-nav>.open>.dropdown-menu>li:first-child>a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-inverse .headbar-nav>.open>.dropdown-menu>li:last-child>a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.navbar-inverse .headbar-nav>.open>.dropdown-menu>li>a:hover,
.navbar-inverse .headbar-nav>.open>.dropdown-menu>li>a:focus {
    background-color: #899eaf;
}

.navbar-inverse .headbar-nav>.open>.dropdown-menu>.divider {
    background-color: #34495e;
    border-bottom: dotted 1px #e6e7e8;
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-inverse .headbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .headbar-nav>li>a:hover,
.navbar-inverse .headbar-nav>li>a:focus {
    color: #899eaf;
    background-color: transparent;
}

.headbar-unread,
.headbar-new {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    background-color: #b72c1c;
    border-radius: 10px;
    color: #ffffff;
    font-size: 0;
    font-weight: 700;
    height: 6px;
    line-height: 1;
    position: absolute;
    left: 30px;
    text-align: center;
    top: 30%;
    width: 6px;
    z-index: 10;
}

@media (max-width: 768px) {
    .headbar-unread,
    .headbar-new {
        float: right;
        margin: 0 0 0 10px;
        left: 30px;
    }
}

.active .headbar-unread,
.active .headbar-new {
    background-color: #ffffff;
    display: none;
}

.headbar-new {
    background-color: #b72c1c;
    font-size: 12px;
    height: 18px;
    line-height: 17px;
    margin: -6px -10px;
    min-width: 18px;
    padding: 1px 3px;
    width: auto;
    -webkit-font-smoothing: subpixel-antialiased;
}

.contents h3 {
    font-size: 18px;
    display: inline;
}

.contents .contents-child-header-s h3 {
    font-size: 18px;
}

.contents .titleArea {
    display: block;
    padding: 5px 5px 5px 15px;
    margin: 5px -15px 0px -15px;
}

.contents .titleArea h4 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contents .titleArea .eventInfo {
    font-weight: 400;
    font-size: 13px;
    display: block;
}

.contents .tagArea .label {
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 5px 7px;
    text-align: left;
    vertical-align: middle;
}

.contents .teachBody,
.contents .introduction {
    border: 1px #bbb solid;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #fafafa;
    font-size: 16px;
}

.contents .actionArea {
    margin-bottom: 0px;
    text-align: center;
}

.contents .actionArea .btn {
    font-size: 15px;
}

.contents .contents-child {
    display: block;
    padding: 0px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.contents .contents-child a {
    display: block;
    margin-bottom: 10px;
}

.contents .contents-child a:hover {
    opacity: 0.8;
    color: #34495e;
}

.contents .contents-child .dateView {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 160px;
    right: 20px;
}

.contents .contents-child .cover {
    display: block;
    background-size: cover;
    background-position: center center;
    height: 200px;
    border-radius: 3px 3px 0px 0px;
    margin-left: -10px;
    margin-right: -10px;
}

.contents .contents-child .cover-s {
    display: block;
    background-size: cover;
    background-position: center center;
    height: 100px;
    border-radius: 3px 3px 0px 0px;
    margin-left: -10px;
    margin-right: -10px;
}

.contents .contents-child .contents-child-header {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

.contents .contents-child .contents-child-header-s {
    display: block;
    font-size: 12px;
}

.contents .contents-child .contents-child-header .left {
    display: block;
    float: left;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.contents .contents-child .contents-child-header .right {
    display: block;
    float: right;
    margin-right: 5px;
    padding-right: 10px;
    position: relative;
    top: -2px;
}

.contents .contents-child .contents-child-header .right i {
    font-size: 14px;
    margin-right: 5px!important;
}

.contents .icon-navi {
    font-size: 72px;
    height: 132px;
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 639px) {
    .contents h3 {
        font-size: 16px;
    }
    .contents h4 {
        font-size: 16px;
    }
    .contents .contents-child .contents-child-header {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    .contents .contents-child .contents-child-header-s {
        font-size: 12px;
    }
    .contents .contents-child .contents-child-header-s h3 {
        font-size: 12px;
    }
    .contents .contents-child .contents-child-header .right {
        top: -4px;
        font-size: 15px;
    }
    .contents .contents-child .contents-child-header .right i {
        font-size: 12px;
    }
}

.contents-navi {
    text-align: left;
    margin-bottom: 10px;
}

.contents-navi-noaction {
    text-align: left;
    margin-bottom: 10px;
    cursor: default;
}

.contents-navi-noaction:focus,
.contents-navi-noaction:hover {
    background-color: #34495e;
}

.inner-body-contents h2.contents-navi-noaction {
    font-size: 15px;
}

#profile-image-d {
    display: block;
    z-index: -1;
    position: fixed;
    width: 100%;
    top: 0;
}

#profile-image-d-contents {
    background-size: contain;
    background-position: right top;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
}

#profile-image-m {
    display: none;
    height: 200px;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 639px) {
    #profile-image-d {
        display: none;
    }
    #profile-image-m {
        display: block;
    }
}

.profile-head-nav {
    margin-top: 6px;
    margin-bottom: 15px;
}

.profile-head-nav-1r {
    height: 50px;
}

.profile-head-nav-2r {
    height: 102px;
}

.profile-head-nav-child {
    padding: 2px;
}

.profile-head-nav-child .lv2 {
    font-size: 12px;
    text-align: center;
    background-color: #34495e;
    color: #fff;
    border-radius: 5px;
    display: block;
}

.profile-head-nav-child:hover .lv2 {
    background-color: #899eaf;
}

.profile-head-nav-child .lv3 {
    font-size: 18px;
    display: block;
}

.profile-head-nav-child .lv3 .new {
    color: #b72c1c;
    margin-left: 3px;
}

.profile-head-nav-child .lv2 i {
    margin-right: 3px!important;
}

@media (max-width: 639px) {
    .profile-head-nav-child .lv2 {
        font-size: 10px;
    }
    .profile-head-nav-child .lv3 {
        font-size: 14px;
    }
}

.profile-head-part {
    margin-top: 20px;
}

.profile-head-part-image {
    background-size: cover;
    background-position: center center;
    height: 150px;
    border-radius: 3px 3px 0px 0px;
    margin-left: -10px;
    margin-right: -10px;
}

.profile-head-part h1 {
    font-size: 21px;
    margin-top: 0px;
}

.profile-head-part .geo {
    font-size: 14px;
    margin-right: 10px;
}

.profile-head-part .info {
    font-size: 14px;
}

.profile-head-part .infoL {
    font-size: 16px;
}

@media (max-width: 639px) {
    .profile-head-part {
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .profile-head-part .col-md-2 {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .profile-head-part-image {
        height: 200px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .profile-head-part h1 {
        font-size: 19px;
        margin-top: 30px;
    }
}

.inner-body-frame {
    padding: 20px;
    margin-left: -15px;
    margin-right: -15px;
}

.inner-body {
    background-color: #fff;
    opacity: 0.9;
    border-radius: 6px;
}

.inner-body-contents {
    padding: 20px;
}

.inner-body-contents .twitter-typeahead .tt-hint {
    width: 100%;
}

.inner-body-contents h1 {
    font-size: 32px;
}

.inner-body-contents h1.title {
    font-size: 28px;
}

.inner-body-contents .geo {
    font-size: 16px;
    margin-right: 20px;
}

.inner-body-contents .event-info .geo {
    font-size: 15px;
}

.inner-body-contents .event-info .info {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.inner-body-contents h2 {
    font-size: 23px;
}

.inner-body-contents h3 {
    font-size: 21px;
}

.inner-body-contents i {
    margin-right: 10px!important;
}

.inner-body-contents .actionArea .btn {
    margin-right: 5px;
    margin-bottom: 5px;
}

.inner-body-contents .activityArea {
    width: 290px;
}

.inner-body-contents .activityArea .icon {
    display: inline-block;
    width: 30px;
    text-align: center;
}

.inner-body-contents .activityArea ul {
    list-style: none;
    padding: 10px;
}

.inner-body-contents .activityArea a {
    font-size: 21px;
    float: right;
}

@media (max-width: 639px) {
    .inner-body-frame {
        padding: 0px 20px 0px 20px;
    }
    .inner-body {
        background-color: #fff;
        opacity: 1;
    }
    .inner-body-contents {
        padding: 0px 0px 20px 0px;
    }
    .inner-body-contents h1 {
        font-size: 24px;
    }
    .inner-body-contents h1.title {
        font-size: 19px;
    }
    .inner-body-contents h2 {
        font-size: 19px;
    }
    .inner-body-contents h3 {
        font-size: 18px;
    }
    .inner-body-contents .activityArea a {
        font-size: 14px;
    }
    .inner-body-contents .activityArea li {
        font-size: 18px;
    }
}

@media (min-width: 640px) {
    .body-height-min {
        min-height: 450px;
    }
}

.detailSection {
    width: 100%;
    background-color: #fff;
    position: relative;
    padding-top: 20px;
}

.detailSection .navbar-title {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: 21px;
    margin-right: 21px;
    height: 28px;
}

@media (max-width: 639px) {
    .detailSection .navbar-title {
        font-size: 16px;
        line-height: 1.8;
    }
}

.profileSlide {
    height: 200px;
}

.profileSlide .item {
    height: 200px;
    border-radius: 6px;
}

.profileSlide .carousel-inner {
    margin-bottom: 0px;
}

.profileSlide .item a {
    display: block;
}

.profileSlide .item .dateView {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 10;
}

.profileSlide .slideChild {
    display: block;
    background-size: cover;
    background-position: center center;
    height: 200px;
    border-radius: 6px;
}

.profileSlide .slideChildOther {
    display: block;
    background-size: cover;
    background-position: center center;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
    height: 200px;
    border-radius: 6px;
    opacity: 0.7;
}

.profileSlide .slideChildOther span {
    display: block;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -100px;
    text-align: center;
    font-size: 21px;
    color: #fff;
}

.profileSlide img {
    height: 200px;
    width: 100%;
    border-radius: 6px;
    opacity: 1;
}

.profileSlide .slideChild img {
    height: 200px;
    opacity: 0;
}

.profileSlide a:hover .slideChild {
    opacity: 0.8;
}

.profileSlide .carousel-caption {
    display: block;
    min-height: 30px;
    opacity: 0.9;
    position: relative;
    top: -40px;
}

.profileSlide .carousel-caption .captionChild {
    display: block;
    min-height: 30px;
    position: relative;
    top: -10px;
}

.profileSlide .carousel-caption .captionChild:before,
.profileSlide .carousel-caption .captionChild:after {
    display: table;
    content: " ";
}

.profileSlide .carousel-caption .captionChild:after {
    clear: both;
}

.profileSlide .carousel-caption .captionChild h3 {
    float: left;
    font-size: 14px;
    margin-bottom: 0px;
}

.profileSlide .carousel-caption .captionChild span {
    display: block;
    float: right;
    line-height: 20px;
    font-size: 12px;
}

.profileSlide .carousel-caption .captionChild i {
    margin-right: 5px!important;
}

.profileSlide .carousel-control-left {
    left: 30px;
}

.profileSlide .carousel-control-right {
    right: 30px;
}

.profileSlide .item {
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 639px) {
    .profileSlide .slideChildOther span {
        font-size: 18px;
    }
    .profileSlide .item {
        margin-left: 0px;
        margin-right: 0px;
    }
    .profileSlide .carousel-caption .captionChild h3 {
        font-size: 16px;
    }
    .profileSlide .carousel-caption .captionChild span {
        font-size: 14px;
    }
}

.post-tabs {
    margin-bottom: 20px;
    border-bottom-width: 2px;
    border-bottom: 1px solid #e6e7e8;
}

.post-tabs.nav-append-content {
    border-bottom: none;
    margin-bottom: 0;
}

.post-tabs.nav-append-content>li.active:first-child:before {
    background-color: #ffffff;
    border-left: 2px solid #e6e7e8;
    content: "";
    height: 6px;
    left: 0;
    position: absolute;
    bottom: -4px;
    width: 6px;
    z-index: 2;
}

.post-tabs>li {
    float: left;
    margin-bottom: -2px;
    position: relative;
}

.post-tabs>li.active {
    z-index: 2;
}

.post-tabs>li.active>a,
.post-tabs>li.active>a:hover,
.post-tabs>li.active>a:focus {
    cursor: default;
    background-color: #fff;
    border: 1px solid #e6e7e8;
    border-bottom-color: #ffffff;
    border-width: 2px;
    color: #7f8c9a;
}

.post-tabs>li.open.active {
    z-index: 1003;
}

.post-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-width: 2px;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 16px 8px;
    color: #7f8c9a;
    border-radius: 6px 6px 0 0;
    -webkit-transition: none;
    transition: none;
}

.post-tabs>li>a:hover,
.post-tabs>li>a:focus {
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: transparent;
    outline: none;
    color: #34495e;
}

.formFrame {
    border-radius: 6px;
    border: 3px solid #34495e;
}

.formFrame nav {
    background-color: #34495e;
    margin-bottom: 10px;
}

.formFrame nav p {
    color: #fff;
    font-size: 14px;
}

.checkbox.checked span {
    color: #34495e;
}

.toggleArea nav .checkbox .icons {
    color: #fff;
}

.toggleArea nav .checkbox.checked {
    color: #fff;
}

.toggleArea nav .checkbox.checked .icons {
    color: #fff;
}

.toggleArea nav .checkbox span {
    color: #fff;
}

.toggleArea nav .checkbox.checked span {
    color: #fff;
}

@media (max-width: 639px) {
    .home-post-form {
        margin-top: 20px;
    }
}

.post-form .tab-content {
    padding: 0px;
    border: 2px solid #e6e7e8;
}

.post-form .tab-content .home-post-header {
    font-size: 14px;
    color: #7f8c9a;
    font-weight: 700;
    padding: 7px 16px 8px;
}

.post-form .tab-content textarea {
    border: none;
    resize: none;
}

.markdown-control .text {
    font-weight: 600;
    color: #7f8c9a;
}

.markdown-control .flat-checkbox {
    display: inline-block;
}

.markdown-control .fa-question-circle {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 18px;
    color: #7f8c9a;
}

.post-btn-area {
    padding: 5px;
    background-color: #f6f7f8;
}

.post-btn-area:before,
.post-btn-area:after {
    display: table;
    content: " ";
}

.post-btn-area:after {
    clear: both;
}

.post-btn-area .action-icon {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.post-btn-area .action-icon:hover {
    cursor: pointer;
    color: #899eaf;
}

.btn-file,
.btn-file-icon {
    display: inline-block;
    position: relative;
}

.btn-file>input[type="file"],
.btn-file-icon>input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    direction: ltr;
    cursor: pointer;
    font-size: 0;
    width: 100%;
    height: 100%;
}

.post-btn-area .action-icon i {
    font-size: 21px;
}

.post-btn-area .postButton {
    float: right;
}

.post-btn-area .postButton button {
    padding: 10px;
    font-size: 12px;
    display: none;
}

.post-btn-area .postButton button.activate {
    display: inline-block;
}

.tagArea .btn,
.tagArea .label {
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    padding: 10px;
    text-align: left;
}

.tagArea .btn .badge {
    margin-left: 10px;
}

.tagArea .label {
    border: none;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@media (max-width: 639px) {
    .tagArea .btn,
    .tagArea .label {
        font-size: 13px;
        padding: 8px;
    }
    .actionArea .btn {
        font-size: 13px;
    }
}

#entryPostEditor {
    min-height: 350px;
}

#entryPostEditorSrc {
    height: 320px;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 10px;
}

#entryPostEditorDest {
    height: 320px;
    margin-top: 10px;
}

.entry-noframe {
    border: none!important;
}

.entry-noframe .entry-title-header {
    padding-top: 25px;
    padding-bottom: 0px;
}

.entry-noframe .entry-h1 {
    font-size: 20px;
    font-weight: 800;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.entry-noframe .entry-h2 {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 200;
    display: block;
}

#indexList {
    list-style-type: none;
    padding-left: 0px;
}

#indexList a.selected {
    text-decoration: underline;
}

.h1index {}

.h1index a,
.h2index a,
.h3index a,
.h4index a {
    color: #34495e;
    font-size: 15px;
}

.h2index {
    margin-left: 15px;
}

.h3index {
    margin-left: 30px;
}

.h4index {
    margin-left: 45px;
}

.entry {
    margin-top: 10px;
    border-radius: 6px;
    background-color: #fff;
    border: solid 2px #e6e7e8;
    display: block;
}

.entry .entry-main {
    padding: 10px;
    margin: 0px;
    display: block;
}

.entry-noframe .entry-main {
    padding: 0px 0px 10px 0px;
}

.entry .entry-summary {
    font-size: 14px;
}

.entry-header:before,
.entry-footer:before,
.entry-header:after,
.entry-footer:after {
    display: table;
    content: " ";
}

.entry-header:after,
.entry-footer:after {
    clear: both;
}

.entry-header .user-image {
    float: left;
    background-size: cover;
    background-position: center center;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    display: block;
}

.entry-header .user-text {
    float: left;
    text-align: left;
    margin-left: 10px;
    font-size: 21px;
    line-height: 18px;
    width: 60%;
    display: block;
}

.entry-header .share-text {
    float: left;
    text-align: left;
    font-size: 21px;
    line-height: 18px;
    width: 60%;
    display: block;
}

.entry-header .user-text-name {
    font-size: 14px;
    font-weight: 800;
    margin-right: 5px;
    display: block;
}

.entry-header i {
    font-size: 14px;
    margin-left: 5px!important;
    margin-right: 10px!important;
}

.entry-header .inline {
    display: inline-block;
}

.post-comment-form .entry-header .user-text-name {
    display: table-cell;
    height: 40px;
    vertical-align: middle;
}

.entry-header .user-text-time,
.entry-footer .user-text-time {
    font-size: 13px;
    color: #8899a6;
    cursor: default;
}

.entry-header>.entry-control {
    float: right;
    position: relative;
}

.entry-preview .entry-body,
.entry .entry-body {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    display: block;
}

.entry-preview .entry-body {
    margin: 10px;
    padding-top: 10px;
    border-top: 2px solid #e6e7e8;
}

.entry-preview .entry-type,
.entry .entry-type {
    font-weight: 800;
    margin-right: 5px;
}

.entry-body h1 {
    width: 100%;
    background-color: #54697e;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.entry-body h2 {
    border-bottom: 4px solid #54697e;
    padding-bottom: 5px;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 15px;
}

.entry-body h3 {
    border-left: 4px solid #54697e;
    padding-left: 10px;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.entry-body h4 {
    border-left: 3px solid #54697e;
    padding-left: 11px;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.entry-body h5 {
    border-left: 2px solid #54697e;
    padding-left: 12px;
    font-size: 15px;
    margin-top: 17px;
    margin-bottom: 17px;
}

.entry-body h6 {
    border-left: 1px solid #54697e;
    padding-left: 13px;
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.entry-body ul,
.entry-body ol {
    font-size: 14px;
}

.entry-body hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #e6e7e8;
}

.entry-body blockquote {
    border-left: 3px solid #e6e7e8;
}

.entry-body a {
    font-weight: 600;
}

.entry-body img {
    width: 100%;
    border-radius: 6px;
}

.entry-body table,
.entry-body td,
.entry-body th {
    border: 2px #899eaf solid;
}

.entry-body td,
.entry-body th {
    padding: 5px;
}

.entry-body th {
    font-weight: 800;
    background-color: #34495e;
    color: #fff;
}

.entry-body tr.even td {
    background-color: #e6e7e8;
}

.expand-photo:hover .entry-photo:before {
    text-align: center;
    line-height: 250px;
    content: "\f00e";
    font-size: 50px;
    color: #fff;
    display: block;
    opacity: 0.2;
    background-color: #34495e;
}

@media (max-width: 639px) {
    .expand-photo:hover .entry-photo:before {
        line-height: 200px;
        font-size: 30px;
    }
}

.edit-photo-area:hover {
    cursor: pointer;
}

.edit-preview .edit-photo,
.entry-preview .entry-photo,
.entry .entry-photo {
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
    height: 250px;
    width: 100%;
    border-radius: 6px;
    display: block;
}

.edit-preview .edit-photo-frame,
.entry-preview .entry-photo-frame {
    position: relative;
    padding: 10px;
    display: block;
}

.edit-preview .edit-photo-none {
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
    height: 250px;
    width: 100%;
    border-radius: 6px;
    opacity: 0.7;
}

.edit-preview .edit-photo-none p {
    height: 250px;
    width: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -125px;
    text-align: center;
    font-size: 21px;
    color: #fff;
}

.edit-preview .edit-photo:hover,
.entry-preview .entry-photo:hover {
    opacity: 0.8;
    cursor: pointer;
}

.edit-preview .edit-photo:hover:before,
.entry-preview .entry-photo:hover:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00d";
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (max-width: 639px) {
    .entry-noframe {
        margin-top: 20px;
    }
    .edit-preview .edit-photo:before,
    .entry-preview .entry-photo:before {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f00d";
        color: #fff;
        font-size: 25px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .movie-frame {
        width: 100%;
        height: 160px;
    }
}

@media (min-width: 640px) {
    .movie-frame {
        width: 100%;
        height: 360px;
    }
}

.entry-footer {
    font-size: 14px;
    display: block;
}

.entry-footer .entry-action {
    float: left;
}

.entry-footer .entry-action a {
    margin-right: 10px;
    color: #7f8c9a;
}

.entry-footer .entry-action a:hover {
    color: #34495e;
}

.entry-footer .comments-show {
    float: right;
}

.entry-header .title,
.entry-footer .title {
    font-size: 20px;
    font-weight: 800;
    display: block;
}

.entry-header .subtitle,
.entry-footer .subtitle {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 200;
    display: block;
}

.entry-footer .tags .label {
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 5px 7px;
    text-align: left;
    vertical-align: middle;
}

.entry-footer .user-text-time {
    display: block;
    margin-top: 5px;
}

.entry .entry-comments {
    background-color: #f6f7f8;
    padding: 10px;
    display: block;
}

.entry-noframe .entry-comments {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.entry .entry-comments>hr {
    border-top: 2px dotted #e6e7e8;
    margin-top: 10px;
    margin-bottom: 10px;
}

.entry .entry-comments .pre-comments-show {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.entry .entry-comment {
    margin-bottom: 10px;
    display: block;
}

.entry .entry-comments .entry-body {
    font-size: 14px;
    display: block;
}

.entry .post-comment-form {
    background-color: #f6f7f8;
    padding: 10px 10px 10px 10px;
}

.entry-noframe .post-comment-form {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.entry .post-comment-form .post-comment-form-body {
    margin-top: 5px;
}

.general-header .dropdown-menu,
.entry-header .dropdown-menu {
    min-width: 100%;
    border-radius: 4px!important;
    right: -18px;
    left: auto;
}

.general-header>.open>.dropdown-toggle,
.entry-header>.open>.dropdown-toggle,
.general-header>.open>.dropdown-toggle:focus,
.entry-header>.open>.dropdown-toggle:focus,
.general-header>.open>.dropdown-toggle:hover,
.entry-header>.open>.dropdown-toggle:hover {
    background-color: transparent;
}

.general-header>.general-control>a,
.entry-header>.entry-control>a {
    color: #ffffff;
}

.general-header>.general-control>a:hover,
.entry-header>.entry-control>a:hover,
.general-header>.general-control>a:focus,
.entry-header>.entry-control>a:focus {
    color: #899eaf;
    background-color: transparent;
}

.general-header>.active>a,
.entry-header>.active>a,
.general-header>.active>a:hover,
.entry-header>.active>a:hover,
.general-header>.active>a:focus,
.entry-header>.active>a:focus {
    color: #ffffff;
    background-color: #34495e;
}

.general-header>.disabled>a,
.entry-header>.disabled>a,
.general-header>.disabled>a:hover,
.entry-header>.disabled>a:hover,
.general-header>.disabled>a:focus,
.entry-header>.disabled>a:focus {
    color: #444444;
    background-color: transparent;
}

.general-header>.dropdown>a:hover .caret,
.entry-header>.dropdown>a:hover .caret,
.general-header>.dropdown>a:focus .caret,
.entry-header>.dropdown>a:focus .caret {
    border-top-color: #34495e;
    border-bottom-color: #34495e;
}

.general-header>.open>a,
.entry-header>.open>a,
.general-header>.open>a:hover,
.entry-header>.open>a:hover,
.general-header>.open>a:focus,
.entry-header>.open>a:focus {
    background-color: #34495e;
    color: #ffffff;
    border-left-color: transparent;
}

.general-header>.open>a .caret,
.entry-header>.open>a .caret,
.general-header>.open>a:hover .caret,
.entry-header>.open>a:hover .caret,
.general-header>.open>a:focus .caret,
.entry-header>.open>a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.general-header>.dropdown>a .caret,
.entry-header>.dropdown>a .caret {
    border-top-color: #4b6075;
    border-bottom-color: #4b6075;
}

.general-header>.open>.dropdown-arrow,
.entry-header>.open>.dropdown-arrow {
    border-top-color: #e6e7e8;
    border-bottom-color: #e6e7e8;
    right: 10px;
}

.general-header>.open>.dropdown-menu,
.entry-header>.open>.dropdown-menu {
    background-color: none;
    padding: 0px;
}

.general-header>.open>.dropdown-menu>li>a,
.entry-header>.open>.dropdown-menu>li>a {
    color: #34495e;
    background-color: #e6e7e8;
    padding: 6px 19px;
}

.general-header>.open>.dropdown-menu>li:first-child>a,
.entry-header>.open>.dropdown-menu>li:first-child>a {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.general-header>.open>.dropdown-menu>li:last-child>a,
.entry-header>.open>.dropdown-menu>li:last-child>a {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.general-header>.open>.dropdown-menu>li>a:hover,
.entry-header>.open>.dropdown-menu>li>a:hover,
.general-header>.open>.dropdown-menu>li>a:focus,
.entry-header>.open>.dropdown-menu>li>a:focus {
    opacity: 0.8;
}

.general-header>.open>.dropdown-menu>.divider,
.entry-header>.open>.dropdown-menu>.divider {
    background-color: #e6e7e8;
    border-bottom: dotted 1px #34495e;
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.general-header>.general-control>a,
.entry-header>.entry-control>a {
    color: #899eaf;
}

.general-header>.general-control>a:hover,
.entry-header>.entry-control>a:hover,
.general-header>.general-control>a:focus,
.entry-header>.entry-control>a:focus {
    color: #899eaf;
    background-color: transparent;
}

#markdown-help .modal-body {
    padding-left: 30px;
    padding-right: 30px;
}

.draggableList {
    border: solid 2px #7bbd82;
    padding: 10px;
    border-radius: 6px;
}

.draggableList .draggable:hover {
    background-color: #f6f7f8;
    opacity: 0.9;
    cursor: pointer;
}

#moveStart .lockBtn {
    display: none;
}

.itemNoBox {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-right: 10px;
    width: 50px;
}

.itemNoBox .noBox {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #e6e7e8;
    border-radius: 6px;
    display: table-cell;
    vertical-align: middle;
}

.itemBox {
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 639px) {
    .entry .entry-photo {
        height: 200px;
    }
    .edit-preview .edit-photo-none p {
        font-size: 14px;
    }
    .entry-header .user-text {
        font-size: 14px;
    }
    .entry-preview .entry-body,
    .entry .entry-body {
        font-size: 18px;
    }
    .general-header>.general-control>a>i,
    .entry-header>.entry-control>a>i {
        font-size: 21px;
    }
}

#info-links>a {
    margin-top: 10px;
    border-radius: 6px;
    border: solid 2px #e6e7e8;
    white-space: normal;
    display: block;
}

#info-links>a>span {
    padding: 10px;
    border-radius: 6px;
    display: block;
}

#info-links>a.noDetailOpen>span {
    background-color: #e6e7e8;
    padding: 10px;
}

#info-links>a>span .info-link-user {
    float: left;
    display: block;
    background-size: cover;
    background-position: center center;
    height: 40px;
    width: 40px;
    border-radius: 6px;
}

#info-links>a>span .info-link-body {
    float: left;
    text-align: left;
    margin-left: 10px;
    display: block;
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
}

#info-links>a>span .info-link-body>span {
    display: block;
}

#conceptMessage {
    background-repeat: no-repeat;
    background-position: 100% 80%;
    background-attachment: fixed;
    color: #FFF;
    background-size: cover;
    margin-bottom: 5px;
}

#conceptMessage h2 {
    font-size: 36px;
}

#conceptMessage h2 br {
    display: none;
}

#topPageTagLine h1 {
    margin-top: 20px;
    font-size: 32px;
}

#topPageTagLine .note {
    font-size: 14px;
}

#conceptNavi {
    background-color: #899eaf;
    padding-top: 30px;
}

.pc-timeline {
    color: #34495e;
    height: 350px;
    overflow-y: auto;
}

.pc-timeline .entry-body {
    font-size: 18px;
}

.mobile-timeline {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mobile-timeline .entry-body {
    font-size: 18px;
}

@media (max-width: 639px) {
    #conceptMessage {
        background-attachment: scroll;
    }
    #conceptMessage h2 {
        font-size: 24px;
    }
    #conceptMessage h2 br {
        display: inline-block;
    }
    #conceptMessage .col-md-8 {
        text-align: center;
    }
    #topPageTagLine h1 {
        font-size: 21px;
    }
    #topPageTagLine .note {
        font-size: 12px;
    }
    .btn-lg [class*="btn-social-"] {
        padding: 10px 15px;
        font-size: 13px;
        line-height: 1.077;
        border-radius: 4px;
    }
    #topPageTagLine .loginButton {
        text-align: center;
    }
    #topPageTagLine .loginButton .btn {
        font-size: 12px;
    }
    #conceptNavi h3 {
        text-align: center;
        font-size: 21px;
    }
}

@media (min-width: 640px) {
    #conceptMessage {
        height: 420px;
    }
    #conceptMessage.userImage {
        background-repeat: repeat-x;
        background-size: contain;
        background-position: right top;
        width: 100%;
    }
    #conceptMessage h2 {
        margin-top: 220px;
    }
    .btn-lg [class*="btn-social-"] {
        padding: 10px 19px;
        font-size: 17px;
        line-height: 1.471;
        border-radius: 6px;
    }
    #topPageTagLine .loginButton {
        margin-top: 10px;
    }
    #conceptNavi h3 {
        text-align: center;
        font-size: 23px;
    }
}

.helpTitle {
    display: block;
    width: 100%;
    white-space: normal;
}

@media (max-width: 639px) {
    .helpTitle {
        text-align: left;
        font-size: 16px;
        padding: 20px 15px;
    }
}

@media (min-width: 640px) {
    .helpTitle {
        font-size: 32px;
        text-align: center;
        padding: 20px 15px;
    }
    .helpTitle i {
        margin-right: 20px!important;
    }
}

.twitter-login,
.twitter-connected {
    background-color: #0084b4;
}

.twitter-login:hover,
.twitter-login:focus {
    background-color: #00a4d4;
}

.twitter-connected:hover,
.twitter-connected:focus {
    background-color: #b72c1c;
}

.facebook-login,
.facebook-connected {
    background-color: #3b5998;
}

.facebook-login:hover,
.facebook-login:focus {
    background-color: #5b79b8;
}

.facebook-connected:hover,
.facebook-connected:focus {
    background-color: #b72c1c;
}

.google-login,
.google-connected {
    background-color: #dd4b39;
}

.google-login:hover,
.google-login:focus {
    background-color: #fd6b59;
}

.google-connected:hover,
.google-connected:focus {
    background-color: #b72c1c;
}

.github-login,
.github-connected {
    background-color: #444;
}

.github-login:hover,
.github-login:focus {
    background-color: #666;
}

.github-connected:hover,
.github-connected:focus {
    background-color: #b72c1c;
}

.twitter-connected .status,
.facebook-connected .status,
.google-connected .status,
.github-connected .status {
    color: #baff29;
}

.social-connect-form {
    text-align: center;
}

.social-connect-form .btn {
    margin-bottom: 20px;
    margin-right: 20px;
    ;
}

.loginForm .inner-body-contents h2 {
    background-color: #34495e;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
}

.loginForm .social-login-form {
    margin: 30px 0px;
    text-align: center;
}

.loginForm .keep-login {
    margin-bottom: 0px;
}

.loginForm .keep-login label {
    cursor: pointer;
}

.loginForm .keep-login input {
    margin-right: 5px;
}

.loginForm .password-remind {
    font-size: 14px;
    text-align: center;
}

.signupMail {
    min-width: 270px;
}

@media (max-width: 639px) {
    .loginForm .inner-body-contents h2 {
        font-size: 15px;
        padding: 12px;
        text-align: center;
    }
    .loginForm .social-login-form .mail-login {
        display: block;
        margin-top: 10px;
    }
}

.contents-d,
.contents-m {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.contents-m {
    width: 100%;
}

@media (min-width: 640px) {
    .contents-d {
        float: left;
    }
    .contents-d {
        width: 48%;
    }
}

@media (min-width: 992px) {
    .contents-d {
        float: left;
    }
    .contents-d {
        width: 24%;
    }
}
