#body{
	/* background-color:#ccc; */
}

.whowat00{
	border:none;;
}
.whowat11{
	border:none;;
}
.word{
	font-size: 1.5em;
}
.other_img{
	width:30px;
	heught:30px;
}
.select4com{
	border:none;
}
.optionbtn4art{
	border:none;
}

.pro_p{
/* 	border-style:solid; */
/* 	border-color:red; */
	width:80%;
}
.pro_img{
	widht:75%;
	height:150px;
}
.like{
	widht:100%;
	height:100%;
}
/* #Associations_join{ */
/* 	height:100%; */
/* 	width :100%; */
/* 	display:none ; */
/* /* 	border-color: red; */ */
/* /* 	border-style:solid;  */ */
/* } */

/* #My_Associations{ */
/* 		height:100%; */
/* 	width :100%; */
/* 	display:none ; */
/* } */

.whowat0{
	display:none ;
	border-color: red;
	border-style:solid; 
		height:100%;
		width :100px;	
}
.whowat1{
	display:none ;
	border-color: red;
	border-style:solid; 
		height:100%;
		width :100px;	
}

#option_btn_pic{
	width:10px;
	height:10px;
	border-color: #ccc;
	border-style:none; 
	background:#ccc;
}
.rep_sub{
display:none;
border:none;
}
.commentt{
/* 	border-color: red; */
/* 	border-style:solid; */
	width:95%;
}
.optionbtn{
	width:5%;
	height:25px;
/* 	margin-left:50%; */
	float:right;
	
}
.option4art{
	width:10%;
	height:100%;
	margin-left:36%;
	margin-top:13px;
	float:right;
display:none;
position:absolute;
}
.repair4art{
	border:none;
}
.repair4art:hover{ 
            background-color:#62d97e;
}
.delete4art1{
	border:none;
}
.delete4art1:hover{ 
            background-color:#62d97e;
}
.option4com{
/* 	border-style:solid; */
/* 	border-color: red; */
	width:10%;
	height:100%;
	float:right;
display:none;
/* position:absolute; */
}
.optionbtn4com{
/* 	border-style:solid; */
/* 	border-color: red; */
	width:5%;
/* 	height:25px; */
	float:right;
	height:100%;
}


.opbtn{
	width:100%;
}

.report{
		margin-top:5px;
		border:none;
		z-index:-1;
}

.arttextupdate{
	width:100%;
	height:100%;
}
.cwf{
	width:20px;
} 
#po{
		background-color:#eee ;
		z-index:1;
		}

#commentt{
margin-left:25px;
}
.btn1:hover{
           /* 設定滑鼠移過時，清單改變的底色設定 */
            background-color:#62d97e;
}
.btn2:hover{
           /* 設定滑鼠移過時，清單改變的底色設定 */
            background-color:#62d97e;
}

#btn_trip_list{
	background:#ccc;
	width:200px;
	height:100px;
}


#notice_btn1{
	width:30px;
	height:30px;
	background:#ccc;

	border-style:none;
	margin-top:4px;
}
#notice_btn2{
	width:30px;
	height:30px;
	background:#ccc;
	border-style:none;
}


#inputbox{	
	margin-top:5px;
	width:36%;
}
#logo_pic{
	width:99%;
	height:30px;
	background-color:#111;
	margin-top:4px;
	
}
#search_text{
	width:80%;
	height:75%;
	border-style:none;
}
#font_menu_btn{
	font-size:1.5em;
	float:right;	
}
.btn1{
	width:99%;
	height:80px;
	border-style:none;
	background-color:#111;
	color:white;
		z-index:55;
}
.btn2{
	width:99%;
	height:50px;
	border-style:none;
	background-color:#111;
	color:white;
}
.btn3{
	width:99%;
	height:50px;
	border-style:none;
	background-color:#111;
	color:white;
}

.img1{
	width:25%;
	height:5%;
	position:absolute;
	left:10px;	
}


#header{
	/* border-style: solid; 
 	border-color: red; */
	height:40px;
	background-color:#111;
	float:right;
	width:84%;
	position:fixed;
	margin-left:16%;
	z-index:99;
}
#logo{
	/* border-style: solid; 
 	border-color: red; */
	width:40px;
	height:36px;
	margin-left:180px;
	float:left;
	
	
}
#search{
	/* border-style: solid; 
 	border-color: red; */
	width:160px;
	height:30px;
	margin-left:80px;
	float:left;
	background-color:white;
	margin-top:5px;
	
	
}
.search_btn{
	border-style: none; 
 	border-color: red; 
	background:white;
	margin-top:4px;
	
}
.logo_btn{
	border-style: none; 
	background-color:#111;
}

#header_menu{
	border-style: solid; 
 	border-color: red;
	width:200px;
	height:36px;
	margin-left:160px;
	float:left;
	
}
#header_footer{
	clear:both;
}
#menu{
	/* border-style: solid; 
 	border-color: red; */
	width:16%;
	height:980px;
	float:left;
	background-color:#111;
	position:fixed;
}
#menu_btn{
	margin-top:15%;
	
}
#font_menu_btn{
	font-size:1.5em;
	float:right;	
}
#main{
	border-style: solid; 
 	border-color: blue;
/* 	margin-top:1%; */
}
#profile_map{
	/* border-style: solid; 
 	border-color: red; */
	width:18%;
	height:810px;
	float:left;
	margin-left:18%;
	margin-top:3%;
	position:fixed;

}
#profile{
	/* border-style: solid; 
 	border-color: red; */
	width:100%;
	height:250px;
	float:left;
/* 	margin-left:1%; */
}
#pro_pic{
	width:30%;
	height:40%;
	margin:5%;
	border:solid;
	border-style:double;
	
}
#map{
	margin-top:130px;
	/* border-style: solid; 
 	border-color: red; */
	width:100%;
	height:60%;
	float:left;
/* 	margin-left:1%; */
}
#clubmap{
	margin-top:600px;
/* 	/* border-style: solid;  */
/*  	border-color: red; */ */
	width:100%;
	height:60%;
/* 	float:left; */
/* 	margin-left:1%; */
clear:both;
}
#more{
	border-style:none;
	background:white;
	float:right;
}

#post1{
	margin:20px;
}
#post2{
	margin:20px;
/* 	background-color:#fff ; */


}
#post3{
	display:none;
}
#post_trip{
	margin-left:15%;
}
#post{
	/* border-style: solid; 
 	border-color: red; */
	margin-left:35%;
	width:43%;
	height:1800px;
	float:left;
	margin-top:3%;
}
#trip_info{
	/* border-style: solid; 
 	border-color: red; */
	margin-left:83%;
	width:16%;
	height:180px;
	float:right;
	margin-top:3%;
	overflow: auto;
	background:#ddd;
	position:fixed;
}
#trip_info_div{
	background:#ccc;
	
}
#friend_list{
	margin-top:12.5%;
	/* border-style: solid; 
 	border-color: red; */
	margin-left:83%;
	width:16%;
	height:75%;
	float:right;
	overflow: auto;
	background:#ccc;
	position:fixed;
}


#footer{
	width:67%;
	height:5%;
/* 	border-style: solid;  */
/*  	border-color: red;  */
 	margin-top:47.5%;
 	margin-left:16%;
 	position:fixed;
 	z-index: 99;
 
}
.chat000{
		z-index: 99;
		position:relative;
		width:200px;
	height:250px;
	border-style: solid; 
/*  	border-color: red;  */
 	float:right;
	bottom:213px;
	margin-right: 5px;
	
}
.chat002{
	 	z-index: 60;
	 		 	float:right;
	 		position:fixed;	 	
	 		bottom:10px;
}
.chat004{
	background-color:lightblue;
}
.message-area1{
	height:200px;
		width:190px;
	border-style: solid; 
/*  	border-color: red;  */
 	z-index: 50;
 		float:right;
 		overflow:scroll;
	}

.text-field{
	width:155px;
}
.msgbutton{
	width:35px;
}



.btn4{
	width:100px;
	height: 20px;
	border:none;
	background-color: white;
}
.btn4:hover{ 
            background-color:#62d97e;
}

#search_show{
	border-style: solid; 
 	border-color: black;
 	width:200px;
 	margin-top:2.5%;
 	margin-left:18%;
}
#search_cancel{
	z-index: -1;
	
}
#search_text{
	width:80%;
	height:95%;
/* 	border-style:none; */
/* 		border-style: solid;  */
/*  	border-color: blue; */
/*  	background: #eee; */
}
#search_showformem{
	width:50px;
	 	background: #eee;
}
#search_show{
	 	background: #eee;
}
